 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Hi! My name is Lillian and I am an 8 year old that loves to sell stuff.
                    I do not sell anything on this website you have to know how to contact me to
                    buy things!</p>
                </div>
            </div>
        </div>
    </section>
